<!DOCTYPE html>
<html>
	<head>
		<title>Ethan Onstott</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/main.css">
		<!--For getting device info to change display-->
		<script src="/static/express-useragent.js"></script>
		<script src="/static/main.js"></script>
	</head>
	<body>
		<div id="grid-parent">
			<div class="one">
				<h1>Ethan Onstott</h1>
				<div id="desktop-links">
					<p id="header-text">Links</p>
					<a class="desktoplink" target="_blank" href="https://github.com/ethanonstott">Github</a>
					<br>
					<a href="https://musescore.com/user/18530651" target="_blank" class="desktoplink">Musescore</a>
				</div>
			</div>
			<div class="two">
				<div class="info">
					<h1 style="color: #1565c0">Welcome to my Website!</h1>
					<div id="mobile-links">
						<p>Links</p>
						<a href="https://github.com/ethanonstott">Github</a>
						<br>
						<a href="https://musescore.com/user/18530651">Musescore</a>
						<br>
						<br>
					</div>
					<h2 style="margin-top: 10px">Who am I?</h2>
					<p>I am a teenager who enjoys programming, free-software, and music.</p>
					<br>
					<h2>What do I make?</h2>
					<p>My current long-term project is Storm, a general-purpose programming language.</p>
					<a id="stormlink" href="https://github.com/ethanonstott/storm">Project GitHub</a>
					<p>This website's source code is also available.</p>
					<a id="sitelink" href="https://github.com/ethanonstott/ethanonstot.dev">Source</a>
				</div>
			</div>
		</div>

	</body>
</html>