html, body {
	font-family: 'Ubuntu';
	padding: 0px;
	margin: 0px;
	height: 100vh;
	overflow: hidden;
}

h1 {
	text-align: center;
	margin: 0px;
	padding-top: 3px;
	font-size: 40px;
}

h2 {
	font-size: 30px;
	margin: 0px;
	padding-top: 3px;
}

div.info {
	padding-top: 1vh;
	text-align: center;
	border: black, 100px;
}

a.desktoplink {
	color: lightblue;
}

.one {
	font-size: 30px;
	background-color: #1565c0;
	color: white;
	padding: 30px 0;
	height: 100vh;
	text-align: center;
}

.two {
	overflow-y: auto;
	height: 100vh;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

p#header-text {
	margin: 10px;
	padding-top: 30px;
	padding-bottom: 10px;
}

#grid-parent {
	display: inline;
	grid-template-columns: 2fr 3fr;
	height: 100vh;
}

#desktop-links, #mobile-links {
	display: none;
}